<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login page</title>
</head>
    <body>
        <nab class="navbar bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class=navbar-brand" href="#">Best Cars dealership</a>
                <a class="navbar-link" href="{% url 'djangoapp:about' %}">About us</a>
                <a class="navbar-link" href="{% url 'djangoapp:contact' %}">Contact us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.username }}</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="password" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nab>
        <form action="{% url 'djangoapp:login' %}" method="post">
            <div class="container">
                {% csrf_token %}
                <h1>Login Page</h1>
                <hr>
                <div class="form-group">
                    <label for="username"><b>User Name</b></label>
                    <input type="text" class="form-control" name="username" required>
                    <label for="username"><b>Password </b></label>
                    <input type="text" class="form-control" name="password" required>
                    {% if message %}
                    <div class="alert alert-warning">
                        {{ message}}
                    </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </body>
</html>
